/* Define color variables based on the logo in CSS syntax */
:root {
  --primary-color: #004f7c; /* Example dark blue color */
  --secondary-color: white; /* Example light blue color */
  --accent-color: #ffc72c; /* Example yellow color */
}

/* Override color variables for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
      --primary-color: #004f7c;
      --secondary-color: rgb(0, 0, 0);
      --accent-color: #ffc72c;
  }
}

header {
padding: 30px;
background-image: linear-gradient(to bottom, #31444b, #004f7c);
color: white;
}

/* General body styling */
body {
font-family: 'Arial', sans-serif;
background-color: var(--primary-color);
color: var(--secondary-color);
padding-bottom: var(--header-height);
}

header, nav {
position: sticky;
top: 0;
z-index: 1000; /* This ensures the header and nav are always on top of other elements */
}

main {
  padding: 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Navbar styling */
.navbar {
background-color: var(--secondary-color);
}

.navbar .navbar-brand img {
display: inline-block;
}

.navbar .navbar-brand:hover {
color: var(--accent-color);
}

.navbar .nav-link {
color: var(--primary-color);
}

.navbar .nav-link:hover {
color: var(--accent-color);
}

/* Additional styles can be added here */

.card-header {
background-color: #31444b;
color: white;
}

.card-body {
background-color: #3984bb;
color: white;
}

#menuCarousel {
padding: 10px;
}

.card {
border-color: #ffc72c;
border-width: 2px;
}

.modal-header {
background-color: #31444b;
color: white;
}

.form-label {
color: black;
}

.text-muted {
color: black;
}

#removeButton {
background-color: #31444b;
color: white;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
  table, th, td {
      border: 1px solid #004f7c;
  }
}

th, td {
padding: 5px;
}

th {
text-align: left;
}

section::before {
content: "";
display: block;
height: var(--header-height);
margin-top: calc(-1 * var(--header-height));
visibility: hidden;
}

footer {
padding: 30px;
background-image: linear-gradient(to top, #31444b, #004f7c);
color: white;
}